

*,
::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: Lato, Helvetica, sans-serif;
}


ul {
    list-style: none;

    li {
        font-size: 2rem;
    }
}

table {

    font-size: 0.5rem;

    td {
        padding: 0;
    }

    tr {
        padding: 0;
    }

    
}


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;

    &:link,
    &:visited {
        text-decoration: none;
    }
}